# Builder.io API Key
# https://www.builder.io/c/docs/using-your-api-key
VITE_PUBLIC_BUILDER_KEY=your_builder_key_here

# API Base URL
# Development: http://localhost:8080/kbuddy/v1
# Production: https://api.k-buddy.kr/kbuddy/v1
VITE_API_BASE_URL=http://localhost:8080/kbuddy/v1

# Google Analytics 4
VITE_GA_MEASUREMENT_ID=G-1LJQ1PH7KH

# Kakao OAuth
VITE_KAKAO_REST_API_KEY=your_kakao_rest_api_key
VITE_KAKAO_REDIRECT_URI=your_kakao_redirect_uri
VITE_KAKAO_SECRET_KEY=your_kakao_secret_key

# Google OAuth
VITE_GOOGLE_CLIENT_ID=your_google_client_id
VITE_GOOGLE_CLIENT_PW=your_google_client_secret
VITE_GOOGLE_REDIRECT_URI=your_google_redirect_uri
VITE_GOOGLE_SCOPE=your_google_oauth_scope

# Apple OAuth
VITE_APPLE_CLIENT_ID=your_apple_client_id
VITE_APPLE_REDIRECT_URI=your_apple_redirect_uri
